/* Import from Google Fonts */
/* @import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap'); */

/* Set as default font for the app */
body {
    font-family: 'Source Sans 3', sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.action-btn i {
    color: inherit;
    transition: color 0.2s ease-in-out;
}

.action-btn.active i {
    color: #1A8917;
}

/* Change to solid icon when active */
.action-btn.active i:before {
    content: "\f02e";
    /* Unicode for fas fa-bookmark */
    font-weight: 900;
}

input[type="radio"] {
    transform: scale(1.5);
    /* make it 1.5x bigger */
    margin-right: 6px;
    /* add spacing */
}

.report-reason label.radio {
    font-size: 1.2rem;
    /* increase as needed */
}

/* Container for bell */
.notification-bell-wrapper {
    position: relative;
}

/* Bell itself */
.notification-bell i {
    font-size: 1.2rem;
    color: black;
}

/* remove all native button styling */
.dropdown-delete-btn {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important;
    padding: 0.25rem 1rem;
    /* match dropdown spacing */
    width: 100%;
    text-align: left;
    font: inherit;
    color: inherit;
    cursor: pointer;
}

/* prevent the form from breaking layout */
.dropdown-delete-form {
    margin: 0;
    padding: 0;
}

/* Notification badge */
.notification-badge {
    position: absolute;
    top: 17px;
    right: -1px;
    transform: translate(35%, -35%);
    background: #ff3860;
    /* bulma danger red */
    color: white;
    font-size: 0.7rem;
    padding: 4px 4px;
    border-radius: 50%;
    line-height: 1;
    font-weight: bold;
}

/* RESPONSIVE FIXES */
@media (max-width: 768px) {
    .notification-badge {
        top: -2px;
        right: 4px;
        margin: auto;
        transform: translate(25%, -25%);
        font-size: 0.65rem;
        padding: 4px 4px;
    }

    .notification-bell i {
        font-size: 1.6rem;
    }
}
